@charset "UTF-8";

html, body{
	min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: cyan;
}

.main-body{
	flex: 1;
}

.navbar .dropdown-menu {
  min-width: 140px !important;
  max-width: 180px !important;
  white-space: normal !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: left;
}